
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu&display=swap');
*{
    font-family: "Ubuntu", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ubuntu-regular {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
  }
  
a{
    color: white;
    text-decoration: none;

}
body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body{
    background-image: linear-gradient(to right, #00000080, #00ff001a);
    height: 100vh;
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.container{
    background-image: linear-gradient(to right , #00000080 30%,  #00ff001a) , url(images/one-piece-zoro-split-face-desktop-wallpaper-4k.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 ;
    width: 100%;
    height: 100%;
    

}
.container:hover{
    background-image: linear-gradient(to right , #00000080 30%, transparent) , url(images/one-piece-zoro-split-face-desktop-wallpaper-4k.jpg);

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    border: 2px solid #00ff00;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: rgba(69, 70, 69, 0.664);
    
}
ul a:hover{
    
    border-color: #00ff00;
    color: #00ff00;
}
.sign:hover{
    color: #000;
    background-color: rgb(153, 236, 18);
}
.content{
    color: white;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}
.content h2{
    font-size: 100px;
    text-transform: uppercase;
}
.content p{
    font-size: 16px;
    font-family: "Ubuntu", serif;
    letter-spacing: 1px;
    width: 350px;
    padding: 20px 0;
}
.content button{
    font-size: 30px;
    padding:  6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;

}
.content button:hover{
    background-color: transparent; 
    border-color:white ;
    color: white;
}
/*----------------------------------------------------------------------
*---------------------------HUMBERGER MENU
------------------------------------------------------------------------*/
#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
    }
    #menu span{
        display: block;
        width: 33px;
        height: 4px;
        background-color: white;
        border-radius: 6px;
        transform-origin: 0 0;
        transition: 0.4s;
        margin-bottom: 5px;
    }
    #menu.is-active span:nth-child(1){
       transform: translate(0px, -2px) rotate(45deg);
    }
    #menu.is-active span:nth-child(2){
        opacity: 0;
        transform: translateX(15px);
    }
    #menu.is-active span:nth-child(3){
        transform: translate(-3px, 3px) rotate(-45deg);
    }
    #menu.is-active span{
    background-color:gray;
    }

@media (max-width: 768px) {
    #menu{
        display: block;
    }
    header{
        
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height:82px;
        padding-top: 0;
        border-bottom: 1px solid rgb(80, 78, 78);
        z-index: 100; 
        border: none;
    }
    header ul {
        display: none;
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        height: 100vh;
        background: rgb(39, 39, 39);
        }
        header ul.is-active{
            display: block;
        }
        header ul li{
            display: block;
            text-align: center;
            margin: 50px;
        
        }
        .logo{
            font-style: italic;
        }
        .content h2{
            font-size: 60px;
        }
        .content p{
            font-style: italic;
            font-size: 16px;
        }
}